// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
        padding-top: 20px;
        padding-bottom: 20px;
        font-family: 'Century Gothic';
        background-color: #0085a1;      
        color: #ffffff;
}
table {
        table-layout: fixed;
        text-align: center;
        width: 90%;
        height: 90%;
}
img {
        width: 70%;
        height: 70%;
}
footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 100px;
}
